@tailwind base;
@tailwind components;
@tailwind utilities;
.container-css {
  max-width: 1340px;
  padding: 0 20px;
  margin: 0 auto;
}
.footer-adres a {
  display: flex;
  align-items: center;
  gap: 10px;
}
